@import "../../globals/fonts.css";
@import "../../globals/reset.css";
@import "../../globals/variables.css";
.body::-webkit-scrollbar {
  width: 15px;
}

.body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.body::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  outline: 1px solid transparent;
  border-radius: 20px;
}

.header {
  width: 100%;
  position: absolute;
  margin-top: 30px;
}
.header_wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.4s ease-in-out;
}
.logo_one {
  color: var(--logo-color);
  font-family: "Georgia";
  font-size: 32px;
  line-height: 110%;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.logo_two {
  color: var(--text-color-light-one);
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
}
.logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.nav_menu {
  display: flex;
  align-items: center;
}
.nav_menu.item:not(:last-child) {
  margin-right: 35px;
}
.nav_menu.link {
  color: var(--text-color-light-three);
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  transition: all 0.4s ease-in-out;
}
.nav_menu.link.active {
  color: var(--text-color-light-two);
  pointer-events: none;
}
.nav_menu.link.active:after {
  content: "";
  width: 114px;
  height: 2px;
  background-color: var(--element-active);
  position: absolute;
  transform: translate(0px, 12px);
}
.nav_menu.link:hover {
  color: var(--text-color-light-two);
}

.startscreen {
  width: 100%;
  height: 908px;
  background: url(../../refs/noise/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}
.startscreen_wrapper {
  width: 1200px;
  margin: 0 auto;
  background: transparent;
  display: flex;
}
.startscreen_info {
  width: 460px;
  height: 322px;
  margin-top: 343px;
  margin-right: 42px;
}
.startscreen_title {
  font-family: "Georgia";
  font-size: 44px;
  line-height: 130%;
  color: var(--text-color-light-one);
  margin-bottom: 42px;
}
.startscreen_text {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  color: var(--text-color-light-three);
  margin-bottom: 52px;
}
.startscreen_pic {
  width: 698px;
  height: 728px;
  background-image: url("../../refs/pics/dogs/start-screen-puppy.png");
  background-repeat: no-repeat;
  margin-top: 180px;
}

.button_filled {
  padding: 15px 45px;
  color: var(--text-button);
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1.5px;
  background-color: var(--button-color);
  border-radius: 100px;
  transition: all 0.4s ease-in-out;
  margin-bottom: 100px;
}
.button_filled:hover {
  cursor: pointer;
  background-color: var(--button-color-hover);
}
.button_filled:active {
  background-color: var(--button-color-active);
}

.about {
  width: 100%;
  background-color: var(--section-color-two);
}
.about_wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.about.pic {
  width: 300px;
  height: 408px;
  margin-left: 175px;
  margin-right: 120px;
  margin-top: 80px;
  margin-bottom: 100px;
  background-image: url("../../refs/pics/mixed/about-pets.png");
}
.about_info {
  display: flex;
  flex-direction: column;
  width: 430px;
  margin-top: 94px;
}
.about_text.title {
  margin-bottom: 25px;
  font-family: "Georgia";
  font-size: 35px;
  line-height: 130%;
  color: var(--text-color-dark-one);
  letter-spacing: 1.6px;
}
.about_text.one {
  margin-bottom: 25px;
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  color: var(--text-color-dark-two);
}
.about_text.two {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  color: var(--text-color-dark-two);
}

.pets {
  width: 100%;
  background-color: var(--section-color-three);
}
.pets_wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pets.title {
  width: 400px;
  font-family: "Georgia";
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  color: var(--text-color-dark-one);
  margin-top: 80px;
  margin-bottom: 60px;
  letter-spacing: 2px;
}
.pets.slider {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pets.button {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: all 0.4s ease-in-out;
  transform: translate(0px, -30px);
}
.pets.button:hover {
  cursor: pointer;
  background-color: var(--button-color-hover);
  border: 2px solid var(--button-color-hover);
}
.pets.button:active {
  background-color: var(--button-color-active);
}
.pets.arrow {
  border: none;
  border-radius: 0px;
  width: 14px;
  height: 6px;
}
.pets.arrow.left {
  background-image: url("../../refs/icons/Arrow_slider_left.svg");
}
.pets.arrow.right {
  background-image: url("../../refs/icons/Arrow_slider_right.svg");
}
.pets.slider_cards {
  display: flex;
  justify-content: space-between;
  width: 990px;
}
.pets.slider_cards.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px 9px 9px 9px;
  width: 270px;
  background-color: var(--card-color);
  transition: all 0.4s ease-in-out;
  margin-bottom: 60px;
}
.pets.slider_cards.card:hover {
  cursor: pointer;
  background-color: var(--card-color-hover);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets.pet_pic {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
}
.pets.pet_pic.one {
  border-radius: 9px 9px 0px 0px;
  background-image: url("../../refs/pics/cats/pets-katrine.png");
  background-repeat: no-repeat;
}
.pets.pet_pic.two {
  border-radius: 9px 9px 0px 0px;
  background-image: url("../../refs/pics/dogs/pets-jennifer.png");
  background-repeat: no-repeat;
}
.pets.pet_pic.three {
  border-radius: 9px 9px 0px 0px;
  background-image: url("../../refs/pics/dogs/pets-woody.png");
  background-repeat: no-repeat;
}
.pets.pet_name {
  font-family: "Georgia";
  line-height: 23px;
  color: var(--text-color-dark-one);
  margin-bottom: 30px;
  text-align: center;
  background-color: transparent;
}
.pets.button_contour {
  width: 187px;
  padding: 15px 0px;
  font-family: "Georgia";
  font-size: 17px;
  line-height: 130%;
  color: var(--text-button);
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: all 0.4s ease-in-out;
  text-align: center;
  margin-bottom: 30px;
}
.pets:hover > .button_contour {
  border: 2px solid var(--button-color-hover);
  background-color: var(--button-color-hover);
}
.pets:hover > .button_contour:active {
  background-color: var(--button-color-active);
}

.help {
  width: 100%;
  background-color: var(--section-color-two);
}
.help_wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help.title {
  width: 308px;
  margin-top: 80px;
  margin-bottom: 60px;
  font-family: "Georgia";
  font-size: 35px;
  line-height: 130%;
  color: var(--text-color-dark-one);
  text-align: center;
  letter-spacing: 1.5px;
}
.help.icons {
  width: 1026px;
  height: 281px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  margin-bottom: 100px;
}
.help.item.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82px;
}
.help.item.one:hover > .pic.one {
  animation-name: food_anim;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.help.item.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}
.help.item.two:hover > .pic.two {
  animation-name: car_anim;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.help.item.three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
}
.help.item.three:hover > .pic.three {
  animation-name: toy_anim;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.help.item.four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 153px;
}
.help.item.four:hover > .pic.four {
  animation-name: bowl_anim;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.help.item.five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 101px;
}
.help.item.five:hover > .pic.five {
  animation-name: shampoo_anim;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.help.item.six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 89px;
}
.help.item.six:hover > .pic.six {
  animation-name: vitamins_anim;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.help.item.seven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 101px;
}
.help.item.seven:hover > .pic.seven {
  animation-name: medicines_anim;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.help.item.eight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 165px;
}
.help.item.eight:hover > .pic.eight {
  animation-name: collar_anim;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.help.item.nine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 143px;
}
.help.item.nine:hover > .pic.nine {
  animation-name: sleeping_areas_anim;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.help.item:hover {
  cursor: pointer;
}
.help.collars_leashes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}
.help.collar {
  background-image: url("../../refs/icons/icon-collars-leashes_without_bone.svg");
  background-repeat: no-repeat;
  margin: 0;
  width: 60px;
  height: 40px;
  background-size: cover;
  z-index: 10;
}
.help.bone {
  background-image: url("../../refs/icons/icon-collars-leashes_only_bone.svg");
  background-repeat: no-repeat;
  margin: 0;
  width: 60px;
  height: 20px;
  background-size: contain;
  z-index: 20;
}
.help.pic {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}
.help.pic.one {
  background-image: url("../../refs/icons/icon-pet-food.svg");
}
.help.pic.two {
  background-image: url("../../refs/icons/icon-transportation.svg");
}
.help.pic.three {
  background-image: url("../../refs/icons/icon-toys.svg");
}
.help.pic.four {
  background-image: url("../../refs/icons/icon-bowls-and-cups.svg");
}
.help.pic.five {
  background-image: url("../../refs/icons/icon-shampoos.svg");
}
.help.pic.six {
  background-image: url("../../refs/icons/icon-vitamins.svg");
}
.help.pic.seven {
  background-image: url("../../refs/icons/icon-medicines.svg");
}
.help.pic.nine {
  background-image: url("../../refs/icons/icon-sleeping-area.svg");
}
.help.name {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  text-align: center;
}

@keyframes food_anim {
  0% {
    background-image: url("../../refs/icons/icon-pet-food.svg");
  }
  100% {
    background-image: url("../../refs/icons/icon-pet-food_recoloured_paw.svg");
  }
}
@keyframes car_anim {
  0% {
    background-image: url("../../refs/icons/icon-transportation.svg");
    transform: translate(0px, 0px);
  }
  100% {
    background-image: url("../../refs/icons/icon-transportation_for_anim.svg");
    transform: translate(-40px, 0px);
  }
}
@keyframes toy_anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bowl_anim {
  0% {
    background-image: url("../../refs/icons/icon-bowls-and-cups.svg");
  }
  100% {
    background-image: url("../../refs/icons/icon-bowls-and-cups_recoloured.svg");
  }
}
@keyframes shampoo_anim {
  0% {
    background-image: url("../../refs/icons/icon-shampoos.svg");
  }
  100% {
    background-image: url("../../refs/icons/icon-shampoos_recoloured.svg");
  }
}
@keyframes vitamins_anim {
  0% {
    background-image: url("../../refs/icons/icon-vitamins.svg");
  }
  100% {
    background-image: url("../../refs/icons/icon-vitamins_recoloured.svg");
  }
}
@keyframes medicines_anim {
  0% {
    background-image: url("../../refs/icons/icon-medicines.svg");
  }
  100% {
    background-image: url("../../refs/icons/icon-medicines_recoloured.svg");
  }
}
@keyframes collar_anim {
  0% {
    background-image: url("../../refs/icons/icon-collars-leashes_without_bone.svg");
  }
  100% {
    background-image: url("../../refs/icons/icon-pet-food_recoloured_paw.svg");
  }
}
@keyframes sleeping_areas_anim {
  0% {
    background-image: url("../../refs/icons/icon-sleeping-area.svg");
  }
  100% {
    background-image: url("../../refs/icons/icon-sleeping-area_awake_cat.svg");
  }
}
.donation {
  width: 100%;
  background-color: var(--section-color-three);
}
.donation_wrapper {
  width: 915px;
  margin: 0 auto;
  display: flex;
}
.donation.pic {
  width: 505px;
  height: 261px;
  background-image: url("../../refs/pics/dogs/donation-dog.png");
  background-repeat: no-repeat;
  margin-right: 30px;
  margin-top: 91px;
}
.donation.info {
  width: 380px;
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.donation.title {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 130%;
  color: var(--text-color-dark-one);
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.donation.text_one {
  font-family: "Georgia";
  font-size: 15px;
  line-height: 110%;
  color: var(--text-color-dark-one);
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.donation.text_two {
  font-family: "Arial Italic";
  font-size: 12px;
  line-height: 18px;
  color: var(--text-color-dark-three);
}
.donation.card {
  width: 349px;
  height: 43px;
  background-color: var(--button-color);
  border-radius: 9px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}
.donation.card:hover {
  cursor: pointer;
  background-color: var(--button-color-hover);
}
.donation.card_icon {
  width: 30px;
  height: 23px;
  background-image: url("../../refs/icons/credit-card.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}
.donation.card_number {
  width: 274px;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  color: var(--text-color-dark-one);
  background-color: transparent;
  letter-spacing: 1.1px;
}

.footer {
  width: 100%;
  height: 350px;
  background: var(--footer-background);
}
.footer_wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 56px;
  background: transparent;
}
.footer.block.one {
  width: 278px;
  height: 234px;
}
.footer.block.two {
  width: 302px;
  height: 234px;
}
.footer_link {
  display: flex;
  width: 302px;
}
.footer_link:hover {
  cursor: pointer;
}
.footer_title {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 130%;
  color: var(--section-color-two);
  margin-bottom: 40px;
  letter-spacing: 1.6px;
}
.footer.text_block {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  background: transparent;
}
.footer_pic {
  width: 300px;
  height: 310px;
  background-image: url("../../refs/pics/dogs/footer-puppy.png");
  background-repeat: no-repeat;
  margin-top: 40px;
}
.footer.icon {
  height: 32px;
  margin-right: icon;
  background-image: url("../../refs/icons/icon-email.svg");
  display: inline-block;
  background: transparent;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.footer.icon.email {
  max-width: 40px;
  background-image: url("../../refs/icons/icon-email.svg");
}
.footer.icon.phone {
  max-width: 40px;
  background-image: url("../../refs/icons/icon-phone.svg");
}
.footer.icon.address {
  max-width: 22px;
  background-image: url("../../refs/icons/icon-marker_first.svg");
}
.footer.text {
  height: 23px;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  color: var(--text-footer);
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
  background: transparent;
}
.footer.text.four {
  height: 46px;
}
.footer.text:hover {
  color: var(--button-color-hover);
}

@media screen and (min-width: 300px) and (max-width: 767.98px) {
  .burger {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-top: 19px;
  }
  .burger:hover {
    cursor: pointer;
  }
  .burger_line {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: var(--logo-color);
  }
}
@media screen and (width: 768px) {
  .header_wrapper {
    width: 708px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .burger {
    display: none;
  }
  .startscreen {
    height: 1165px;
  }
  .startscreen_wrapper {
    width: 708px;
    flex-direction: column;
    align-items: center;
  }
  .startscreen_info {
    margin-top: 150px;
  }
  .startscreen_pic {
    width: 569px;
    height: 593px;
    background-image: url("../../refs/pics/dogs/start-screen-puppy.png");
    background-repeat: no-repeat;
    margin-top: 100px;
    background-size: 569px 593px;
    transform: translate(80px, 0px);
  }
  .about_wrapper {
    width: 708px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about.pic {
    width: 300px;
    height: 408px;
    margin-left: 175px;
    margin-right: 120px;
    margin-top: 80px;
    margin-bottom: 100px;
    background-image: url("../../refs/pics/mixed/about-pets.png");
  }
  .about_info {
    margin-top: 80px;
  }
  .pets_wrapper {
    width: 708px;
  }
  .pets.slider {
    width: 708px;
  }
  .pets.slider_cards {
    width: 580px;
  }
  .pets.slider_cards.card.three {
    display: none;
  }
  .help_wrapper {
    width: 708px;
  }
  .help.icons {
    width: 630px;
    height: 449px;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .help.item.one {
    width: 170px;
  }
  .help.item.two {
    width: 170px;
  }
  .help.item.three {
    width: 170px;
  }
  .help.item.four {
    width: 170px;
  }
  .help.item.five {
    width: 170px;
  }
  .help.item.six {
    width: 170px;
  }
  .help.item.seven {
    width: 170px;
  }
  .help.item.eight {
    width: 170px;
  }
  .help.item.nine {
    width: 170px;
  }
  .help.item:hover {
    cursor: pointer;
  }
  .donation_wrapper {
    width: 708px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .donation.pic {
    width: 505px;
    height: 261px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 100px;
  }
  .donation.info {
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .footer_wrapper {
    width: 708px;
  }
  .footer.block.one {
    margin-left: 34px;
  }
  .footer.block.two {
    margin-right: 34px;
  }
  .footer_pic {
    display: none;
  }
}
@media screen and (width: 320px) {
  .header_wrapper {
    width: 300px;
  }
  .logo {
    margin-left: 10px;
  }
  .nav_menu {
    display: none;
  }
  .startscreen {
    height: 823px;
  }
  .startscreen_wrapper {
    width: 300px;
    flex-direction: column;
    align-items: center;
  }
  .startscreen_info {
    width: 300px;
    height: 296px;
    margin-top: 150px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .startscreen_title {
    font-size: 25px;
    text-align: center;
  }
  .startscreen_text {
    text-align: center;
  }
  .startscreen_pic {
    width: 260px;
    height: 272px;
    background-size: 260px 272px;
    margin-top: 105px;
    transform: translate(20px, 0px);
  }
  .about_wrapper {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about.pic {
    width: 260px;
    height: 354px;
    margin-top: 42px;
    margin-bottom: 42px;
    margin-left: 0px;
    margin-right: 0px;
    background-size: 260px 354px;
    background-repeat: no-repeat;
  }
  .about_info {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 42px;
  }
  .about_text.title {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
  .about_text.one {
    font-size: 15px;
    line-height: 160%;
    text-align: justify;
    padding: 0px 15px 0px 15px;
  }
  .about_text.two {
    font-size: 15px;
    line-height: 160%;
    text-align: justify;
    padding: 0px 15px 0px 15px;
  }
  .pets_wrapper {
    width: 300px;
  }
  .pets.title {
    width: 300px;
    font-size: 25px;
    margin-top: 42px;
    margin-bottom: 42px;
    letter-spacing: 2px;
  }
  .pets.slider {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pets.button {
    position: absolute;
  }
  .pets.button.left {
    transform: translate(30px, 230px);
  }
  .pets.button.right {
    transform: translate(180px, 230px);
  }
  .pets.button:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
    border: 2px solid var(--button-color-hover);
  }
  .pets.button:active {
    background-color: var(--button-color-active);
  }
  .pets.arrow {
    border: none;
    border-radius: 0px;
    width: 14px;
    height: 6px;
  }
  .pets.arrow.left {
    background-image: url("../../refs/icons/Arrow_slider_left.svg");
  }
  .pets.arrow.right {
    background-image: url("../../refs/icons/Arrow_slider_right.svg");
  }
  .pets.slider_cards {
    display: flex;
    justify-content: space-between;
    width: 990px;
  }
  .pets.slider_cards.card:hover {
    cursor: pointer;
    background-color: var(--card-color-hover);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  .pets.slider_cards.card.two {
    display: none;
  }
  .pets.slider_cards.card.three {
    display: none;
  }
  .button_filled.slider {
    transform: translate(0px, 50px);
  }
  .help_wrapper {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .help.title {
    width: 230px;
    margin-top: 42px;
    margin-bottom: 42px;
    font-size: 25px;
  }
  .help.icons {
    width: 290px;
    height: 555px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 42px;
  }
  .help.name {
    font-size: 15px;
  }
  .help.pic {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  .help.pic.one {
    background-image: url("../../refs/icons/icon_food_smaller.svg");
  }
  .help.pic.two {
    background-image: url("../../refs/icons/icon_transportation_smaller.svg");
  }
  .help.pic.three {
    background-image: url("../../refs/icons/icon_toys_smaller.svg");
  }
  .help.pic.four {
    background-image: url("../../refs/icons/icon_bowls_and_cups_smaller.svg");
  }
  .help.pic.five {
    background-image: url("../../refs/icons/icon_shampoos_smaller.svg");
  }
  .help.pic.six {
    background-image: url("../../refs/icons/icon_vitamins_smaller.svg");
  }
  .help.pic.seven {
    background-image: url("../../refs/icons/icon_medicines_smaller.svg");
  }
  .help.pic.eight {
    background-image: url("../../refs/icons/icon_collars_leashes_smaller.svg");
  }
  .help.pic.nine {
    background-image: url("../../refs/icons/icon_sleeping_area_smaller.svg");
  }
  .help.item {
    height: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .help.item.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
  }
  .help.item.one:hover > .pic.one {
    animation-name: food_anim;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .help.item.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
  }
  .help.item.two:hover > .pic.two {
    animation-name: car_anim;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .help.item.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
  }
  .help.item.three:hover > .pic.three {
    animation-name: toy_anim;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .help.item.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
  }
  .help.item.four:hover > .pic.four {
    animation-name: bowl_anim;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .help.item.five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
  }
  .help.item.five:hover > .pic.five {
    animation-name: shampoo_anim;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .help.item.six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
  }
  .help.item.six:hover > .pic.six {
    animation-name: vitamins_anim;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .help.item.seven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
  }
  .help.item.seven:hover > .pic.seven {
    animation-name: medicines_anim;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .help.item.eight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
  }
  .help.item.eight:hover > .pic.eight {
    animation-name: collar_anim;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .help.item.nine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
  }
  .help.item.nine:hover > .pic.nine {
    animation-name: sleeping_areas_anim;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .help.item:hover {
    cursor: pointer;
  }
  @keyframes food_anim {
    0% {
      background-image: url("../../refs/icons/icon_food_smaller.svg");
    }
    100% {
      background-image: url("../../refs/icons/icon_food_smaller_for_anim.svg");
    }
  }
  @keyframes car_anim {
    0% {
      background-image: url("../../refs/icons/icon_transportation_smaller.svg");
      transform: translate(0px, 0px);
    }
    100% {
      background-image: url("../../refs/icons/icon_transportation_smaller_for_anim.svg");
      transform: translate(-40px, 0px);
    }
  }
  @keyframes toy_anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes bowl_anim {
    0% {
      background-image: url("../../refs/icons/icon_bowls_and_cups_smaller.svg");
    }
    100% {
      background-image: url("../../refs/icons/icon_bowls_and_cups_smaller_for_anim.svg");
    }
  }
  @keyframes shampoo_anim {
    0% {
      background-image: url("../../refs/icons/icon_shampoos_smaller.svg");
    }
    100% {
      background-image: url("../../refs/icons/icon_shampoos_smaller_for_anim.svg");
    }
  }
  @keyframes vitamins_anim {
    0% {
      background-image: url("../../refs/icons/icon_vitamins_smaller.svg");
    }
    100% {
      background-image: url("../../refs/icons/icon_vitamins_smaller_for_anim.svg");
    }
  }
  @keyframes medicines_anim {
    0% {
      background-image: url("../../refs/icons/icon_medicines_smaller.svg");
    }
    100% {
      background-image: url("../../refs/icons/icon_medicines_smaller_for_anim.svg");
    }
  }
  @keyframes collar_anim {
    0% {
      background-image: url("../../refs/icons/icon_collars_leashes_smaller.svg");
    }
    100% {
      background-image: url("../../refs/icons/icon_collars_leashes_smaller_without_bone.svg");
    }
  }
  @keyframes sleeping_areas_anim {
    0% {
      background-image: url("../../refs/icons/icon_sleeping_area_smaller.svg");
    }
    100% {
      background-image: url("../../refs/icons/icon_sleeping_area_smaller_awake_cat.svg");
    }
  }
  .donation_wrapper {
    width: 300px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .donation.pic {
    width: 260px;
    height: 135px;
    background-size: 260px 135px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 42px;
  }
  .donation.info {
    width: 300px;
    margin-top: 42px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .donation.title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  .donation.text_one {
    text-align: center;
    letter-spacing: 0.1px;
  }
  .donation.text_two {
    text-align: justify;
  }
  .donation.card {
    width: 281px;
    height: 43px;
    margin-bottom: 20px;
  }
  .donation.card_icon {
    width: 30px;
    height: 23px;
    background-image: url("../../refs/icons/credit-card.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
  }
  .donation.card_number {
    width: 206px;
    font-family: "Georgia";
    font-size: 15px;
    line-height: 115%;
    color: var(--text-color-dark-one);
    background-color: transparent;
    letter-spacing: 0.6px;
  }
  .footer {
    width: 100%;
    height: 809px;
  }
  .footer_wrapper {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background: transparent;
  }
  .footer.block.one {
    width: 278px;
    height: 208px;
    margin-bottom: 10px;
  }
  .footer.block.two {
    width: 300px;
    height: 222px;
    margin-bottom: 40px;
  }
  .footer_link {
    display: flex;
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer_link:hover {
    cursor: pointer;
  }
  .footer_title {
    font-size: 25px;
    line-height: 130%;
    color: var(--section-color-two);
    margin-bottom: 40px;
    letter-spacing: 1.6px;
    text-align: center;
  }
  .footer.text_block.one {
    margin-bottom: 40px;
  }
  .footer.text_block.one.email {
    width: 251px;
  }
  .footer.text_block.one.address {
    width: 300px;
  }
  .footer.text_block.two {
    margin-bottom: 0px;
  }
  .footer.text_block.two.phone {
    width: 239px;
  }
  .footer.text_block.two.address {
    width: 300px;
  }
  .footer_pic {
    width: 260px;
    height: 269px;
    background-image: url("../../refs/pics/dogs/footer-puppy.png");
    background-size: 260px 269px;
    background-repeat: no-repeat;
    margin-top: 0px;
  }
  .footer.icon {
    height: 32px;
    margin-right: icon;
    background-image: url("../../refs/icons/icon-email.svg");
    display: inline-block;
    background: transparent;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  .footer.icon.email {
    max-width: 40px;
    background-image: url("../../refs/icons/icon-email.svg");
  }
  .footer.icon.phone {
    max-width: 40px;
    background-image: url("../../refs/icons/icon-phone.svg");
  }
  .footer.icon.address {
    max-width: 22px;
    background-image: url("../../refs/icons/icon-marker_first.svg");
  }
  .footer.text {
    height: 23px;
    font-family: "Georgia";
    font-size: 20px;
    line-height: 115%;
    color: var(--text-footer);
    letter-spacing: 1px;
    transition: all 0.4s ease-in-out;
    background: transparent;
  }
  .footer.text.four {
    height: 46px;
  }
  .footer.text:hover {
    color: var(--button-color-hover);
  }
}/*# sourceMappingURL=style.css.map */