@font-face {
  font-family: "Arial";
  src: url("../refs/fonts/fonts/arial/arial-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial Bold";
  src: url("../../refs/fonts/fonts/arial/arial-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../../refs/fonts/fonts/georgia/georgia-regular.woff") format("woff");
  src: url("../../refs/fonts/fonts/georgia/georgia-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia Bold";
  src: url("../../refs/fonts/fonts/georgia/georgia-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
