@import "../../globals/fonts.css";
@import "../../globals/reset.css";
@import "../../globals/variables.css";

.header {
  width: 100%;
  height: 120px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0px;

  &_wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;

  &_one {
    color: var(--text-color-dark-one);
    font-family: "Georgia";
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }

  &_two {
    color: var(--text-color-dark-one);
    font-family: "Arial";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
  }

  &:hover {
    cursor: pointer;

    & > &_one {
      color: var(--button-color-hover);
      box-shadow: #262425;
    }
  }
}

.nav_menu {
  display: flex;
  align-items: center;

  &.item {
    padding-top: 25px;
  }

  &.item:not(:last-child) {
    margin-right: 35px;
  }

  &.link {
    color: var(--text-color-dark-one);
    font-family: "Arial";
    font-size: 15px;
    line-height: 160%;
    transition: all 0.4s ease-in-out;

    &.active {
      color: var(--text-button);
      pointer-events: none;

      &:after {
        content: "";
        width: 58px;
        height: 2px;
        background-color: var(--element-active);
        position: absolute;
        transform: translate(0px, 12px);
      }
    }

    &:hover {
      color: var(--text-button);
    }
  }
}

.pets {
  width: 100%;
  background-color: var(--section-color-three);

  &_wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.title {
    width: 400px;
    font-family: "Georgia";
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    color: var(--text-color-dark-one);
    margin-top: 200px;
    margin-bottom: 60px;
    letter-spacing: 2px;
  }

  &.slider {
    width: 1200px;
    display: flex;
    flex-direction: column;
  }

  &.buttons {
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin-bottom: 100px;
    margin-top: 60px;
  }

  &.button {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: all 0.4s ease-in-out;

    &.active {
      border: 2px solid #f1cdb3;

      &:hover {
        cursor: pointer;
        background-color: var(--button-color-hover);
        border: 2px solid var(--button-color-hover);
      }

      &:active {
        background-color: var(--button-color-active);
      }
    }

    &.number {
      border: 2px solid var(--button-color-active);
      background-color: var(--button-color-active);
      pointer-events: none;
    }

    &.disabled {
      border: 2px solid rgba(0, 0, 0, 0.1);
    }
  }

  &.page_number {
    font-family: "Georgia";
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    color: var(--text-button);
    background-color: transparent;
  }

  &.arrow {
    border: none;
    border-radius: 0px;

    &.left {
      width: 13px;
      height: 15px;
      background-image: url("../../refs/icons/pagination_arrow_left.svg");
      background-repeat: no-repeat;
      background-color: transparent;
    }

    &.right {
      width: 13px;
      height: 15px;
      background-image: url("../../refs/icons/pagination_arrow_right.svg");
      background-repeat: no-repeat;
      background-color: transparent;
    }

    &.left_left {
      width: 26px;
      height: 15px;
      background-image: url("../../refs/icons/pagination_arrows_two_left.svg");
      background-repeat: no-repeat;
      background-color: transparent;
    }

    &.right_right {
      width: 26px;
      height: 15px;
      background-image: url("../../refs/icons/pagination_arrows_two_right.svg");
      background-repeat: no-repeat;
      background-color: transparent;
    }
  }

  &.slider_cards {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;

    &.card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 9px 9px 9px 9px;
      width: 270px;
      background-color: var(--card-color);
      transition: all 0.4s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: var(--card-color-hover);
      }
    }
  }

  &.pet_pic {
    width: 270px;
    height: 270px;

    &.one {
      border-radius: 9px 9px 0px 0px;
      background-image: url("../../refs/pics/cats/pets-katrine.png");
      background-repeat: no-repeat;
    }

    &.two {
      border-radius: 9px 9px 0px 0px;
      background-image: url("../../refs/pics/dogs/pets-jennifer.png");
      background-repeat: no-repeat;
    }

    &.three {
      border-radius: 9px 9px 0px 0px;
      background-image: url("../../refs/pics/dogs/pets-woody.png");
      background-repeat: no-repeat;
    }

    &.four {
      border-radius: 9px 9px 0px 0px;
      background-image: url("../../refs/pics/dogs/pets-sophia.png");
      background-repeat: no-repeat;
    }

    &.five {
      border-radius: 9px 9px 0px 0px;
      background-image: url("../../refs/pics/cats/pets-timmy.png");
      background-repeat: no-repeat;
    }

    &.six {
      border-radius: 9px 9px 0px 0px;
      background-image: url("../../refs/pics/dogs/pets-charly.png");
      background-repeat: no-repeat;
    }

    &.seven {
      border-radius: 9px 9px 0px 0px;
      background-image: url("../../refs/pics/dogs/pets-scarlet.png");
      background-repeat: no-repeat;
    }

    &.eight {
      border-radius: 9px 9px 0px 0px;
      background-image: url("../../refs/pics/cats/pets-freddie.png");
      background-repeat: no-repeat;
    }
  }

  &.pet_name {
    font-family: "Georgia";
    line-height: 23px;
    color: var(--text-color-dark-one);
    text-align: center;
    background-color: transparent;
  }

  &.button_contour {
    width: 187px;
    padding: 15px 0px;
    font-family: "Georgia";
    font-size: 17px;
    line-height: 130%;
    color: var(--text-button);
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    transition: all 0.4s ease-in-out;
    text-align: center;
    margin-bottom: 30px;
  }

  &:hover > .button_contour {
    border: 2px solid var(--button-color-hover);
    background-color: var(--button-color-hover);

    &:active {
      background-color: var(--button-color-active);
    }
  }
}

.footer {
  width: 100%;
  height: 350px;
  background: var(--footer-background);

  &_wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &.block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 56px;
    background: transparent;

    &.one {
      width: 278px;
      height: 234px;
    }

    &.two {
      width: 302px;
      height: 234px;
    }
  }

  &_title {
    font-family: "Georgia";
    font-size: 35px;
    line-height: 130%;
    color: var(--section-color-two);
    margin-bottom: 40px;
  }

  &.text_block {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    background: transparent;
  }

  &_pic {
    width: 300px;
    height: 310px;
    background-image: url("../../refs/pics/dogs/footer-puppy.png");
    background-repeat: no-repeat;
    margin-top: 40px;
  }

  &.icon {
    height: 32px;
    margin-right: icon;
    background-image: url("../../refs/icons/icon-email.svg");
    display: inline-block;
    background: transparent;
    background-repeat: no-repeat;
    margin-right: 20px;

    &.email {
      max-width: 40px;
      background-image: url("../../refs/icons/icon-email.svg");
    }

    &.phone {
      max-width: 40px;
      background-image: url("../../refs/icons/icon-phone.svg");
    }

    &.address {
      max-width: 22px;
      background-image: url("../../refs/icons/icon-marker_first.svg");
    }
  }

  &.text {
    height: 23px;
    font-family: "Georgia";
    font-size: 20px;
    line-height: 115%;
    color: var(--text-footer);
    transition: all 0.4s ease-in-out;
    background: transparent;

    &.four {
      height: 46px;
    }

    &:hover {
      color: var(--button-color-hover);
    }
  }
}
